@model DragonContracts.Models.Contact

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Name, new { data_bind = "value: Name" })

    @Html.ValidationMessageFor(model => model.Name)
</div>
<div data-bind="with: Address">
    @Html.Partial("Partial/AddressEditView")
</div>


